:host {
  --inactive-color: #011b1a;
  --active-color: #19cbb6;
}

.container {
  font-family: "DSEG7 Classic Mini", monospace;
  font-size: 72px;
  color: white;
  margin-top: 0.5em;
  display: flex;
  background: #000;
  padding: 0.4em;
}

.elements-container {
  display: flex;
}

.elements {
  transform: translateY(6px);
  color: var(--active-color);
  text-shadow: 0 0 10px var(--inactive-color);
}

.elements::before {
  content: "888";
  color: var(--inactive-color);
  position: absolute;
  z-index: -1;
}

.titles {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  content: "ELEMENTS";
}

span {
  display: block;
  padding: 0 20px;
}
