@font-face {
  font-family: Montserrat;
  src:
    url("fonts/montserrat-vf.woff2") format("woff2"),
    url("fonts/montserrat-vf.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "DSEG7 Classic Mini";
  src:
    url("fonts/dseg7-classic-mini.woff2") format("woff2"),
    url("fonts/dseg7-classic-mini.woff") format("woff");
  font-display: swap;
}

body {
  background: #223;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.game header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 4em;
}

card-element {
  --size: 110px;
}
